<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="login.css" type="text/css">
    </head>
    <body>   
        <title><%=title%></title>
        <div class="login-box">
          <h1>REGISTRATION</h1>
          <form action="/register" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter Username" >
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter Password" >
            <input type="submit" value="Register" >
          </form>
        </div>
      </body>      
</html>